@font-face {
    font-family: 'CustomFont'; /* The name you want to use for the font family */
    src: url('media/Akshar-Medium.woff2') format('woff2'), /* Provide the path to your WOFF2 font file */
         url('media/Akshar-Medium.woff') format('woff'); /* Provide the path to your WOFF font file */
    /* You can also include additional font formats like TTF or EOT here */
    font-weight: normal;
    font-style: normal;
}

html, body{
   padding: 0;
   margin: 0;
/*   font-family: Calibri;*/
   /*background-color: #001B48;*/
   text-align: justify;
	background-color: black;
	color: #F2E1B5;
}

.color-gradient {
		background: linear-gradient(0deg, #000000, #001B48);

}

h1, h2, h3, h4, p, ul {
	margin: 0;
}

h1 {
	font-size: 28px;
	font-weight: bold;
/*	font-family: 'CustomFont', Calibri;*/
}

h4 {
	font-size: 20px;
	padding-bottom: 8px;
}

p, li {
	font-size: 18px;
}

a {
	color: unset;
	text-decoration: underline;
}

.unstyled-list {
	list-style-type: none;
}

.project-lists {
	width: 250px;
	padding: 0px;
}

.first-list-offset {
	padding-left: 20px;
}

section {
	margin-left: auto;
	margin-right: auto;
}

.section {
	max-width: 1240px;
	padding: 200px 40px 0px 40px;
	justify-content: center;
}

.navbar {
	position: fixed;
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #404040;
	z-index: 1;
	opacity: 0.5;
    flex-direction: row-reverse;
}

.navbar a {
	color: #F2E1B5;
	text-decoration: none;
}

.navbar ul {
	float: right;
	margin-right: 20px;
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.linkedin {
	position: relative;
	top: 2px;
}

.linkedin img {
	height: 45px;
}

.itch img {
	height: 45px;
}

.section-banner {
	position: absolute;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	height: 100%;
	background-color: grey;
	z-index: 0;
	color: #F2E1B5;
}

.banner-title {
	position: relative;
	left: -15vw;
	top: -10vh;
	/*font-family: 'CustomFont', Calibri;*/
}

.banner-title h1 {
	font-size: 100px;
}

.banner-title h2 {
	font-size: 70px;
}

@media (max-width: 1280px) {
	.banner-title h1 {
		font-size: 50px;
	}

	.banner-title h2 {
		font-size: 35px;
	}
}

@media (max-width: 520px) {
	.banner-title h1 {
		font-size: 30px;
	}

	.banner-title h2 {
		font-size: 21px;
	}
}

.banner-video {
	width: 100%;
	height:100%;
/*	background-image: url("../media/LittlerootTown.mp4");*/
	background-image: url("https://wallpaperaccess.com/full/7270362.gif");
	background-repeat: no-repeat;
    background-size: cover;
}

.content-wrapper {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	padding-top: 20px;
}

.container {
	padding-top: 20px;
	padding-left: 0;
	padding-right: 0;
	max-width: 1160px;
}

.section-banner .content-wrapper {
	align-items: center;
}

.section-skills h1 {
	text-align: center;
}

.section-skills .content-wrapper {
	align-items: flex-start;
}

.section-projects {
	max-width: 1430px;
}

.section-projects h1 {
	text-align: center;
}

.section-projects h2 {
	color: #F2E1B5;
}

.section-projects .border-wrapper {
  padding: 0px 20px 10px 10px;

  background:
    linear-gradient(to right, black 2px, transparent 2px) 0 0,
    linear-gradient(to left, black 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, black 2px, transparent 2px) 0 0,
    linear-gradient(to top, black 2px, transparent 2px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.section-projects .row {
	padding: 20px;
    justify-content: center;
}

.project-wrapper {
	margin: auto;
	height: 100%;
}

.banner-offset {
	height: 100vh;
}

.card {
/*	width: 1280px;
	height: 720px;*/
	/* ratio 0.5625 */
	/*height: 360px;*/
	height: 400px;
	background-color: unset;
	border: unset;
}

.image {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.card-image-ira {
	background-image: url("https://cdn.icon-icons.com/icons2/2367/PNG/512/question_mark_icon_143522.png");
    filter: brightness(0) invert(1);
}

.card-image-nr {
	background-image: url("../media/NR_Logo.png");
	background-color: black;
}

.card-image-qnn {
	background-image: url("../media/QNN_card.png");
	background-color: black;
}

.card-image-submerge {
	background-image: url("../media/Submerge_card.png");
	background-color: black;
}

.angler {
	background-image: url("../media/angler.png");
	z-index: 2;
	width: 524px;
	height: 381px;
}

.card-link {
	color: #F2E1B5;
	text-decoration: none;
}

.section-projects {
	position: relative;
}

.title-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.title-wrapper h1 {
	width: 50%;
	padding-bottom: 20px;
}

.project-date {
	text-align: end;
	width: 50%;
}

.left {
	float: left;
}

.right {
	float: right;
}


.info-wrapper {
	padding-inline-start: 0px;
}

.info-wrapper li {
	padding-bottom: 10px;
}

.section-projects .content-wrapper {
	vertical-align: top;
	align-items: unset;
}

.section-nighttime-runners {
/*	background-color: #fafafa;
	border: 1px solid #f0f0f0;
	box-shadow: 0px 2px #f0f0f0;
	border-radius: 14px;*/
}

.section-submerge {
	margin-bottom: 0px;
}

.video-wrap {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

.list-wrapper {
	display: flex;
}

.feature-media {
	display: flex;
	flex-direction: column;
	min-width: 500px;
	height: 510px;
}

@media (max-width: 520px) {
	.feature-media {
		min-width: unset;
		height: unset;
	}
}

.feature-description {
	padding: 0px 10px;
	max-width: 500px;
}

.feature-asset {
	margin-bottom: 10px;
	min-height: 500px;
	background-repeat: no-repeat;
	background-position-x: center;
/*	background-color: #eee;*/
/*  background-size: cover;*/
}

@media (max-width: 520px) {
	.feature-asset {
		min-height: unset;
	}
}

.placeholder {
	background-image: url("https://cdn.icon-icons.com/icons2/2367/PNG/512/question_mark_icon_143522.png");
	filter: brightness(0) invert(1);
}

.section-nighttime-runners .nr-spawn {
	background-image: url("../media/NRMap2.png");
	min-height: 736px;
	background-size: contain;
}

@media (max-width: 520px) {
	.section-nighttime-runners .nr-spawn {
		min-height: 280px;
	}
}

.section-qnn .qnn-ui-1 {
	background-image: url("../media/UI.gif");
	background-size: contain;
	min-height: 280px;
}

/*.section-submerge .placeholder {
	background-image: url("https://media.tenor.com/9vRAkntogEMAAAAd/background.gif");
}*/

/*OBS*/
/* CTRL + 1 - Stop/Start */
/* CTRL + 2 - Pause/Unpause */
/* ALT + Click - Crop Window */

/* Tabs */

.tabbed {
	/*overflow-x: hidden;*/ /* so we could easily hide the radio inputs */
	margin: 10px 0;
	padding-bottom: 16px;
	border-bottom: 1px solid #ccc;
	text-align: left;
}

.tabbed [type="radio"] {
	/* hiding the inputs */
	display: none;
}

.tab-container {

}

.tabs {
	margin-top: 10px;
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

.tab {
}

.tab > label {
	display: block;
	margin-bottom: -1px;
	padding: 12px 15px;
	border: 1px solid #ccc;
	background: #743D7A;
	color: #F2E1B5;
	font-size: 18px; 
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;	
	transition: all 0.3s;
}
.tab:hover label {
	border-top-color: #333;
	color: #F2E1B5;
}

.tab-content {
	margin-top: 10px;
	display: none;
	color: #F2E1B5;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label,
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tabs .tab:nth-of-type(6) label,
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tabs .tab:nth-of-type(7) label,
.tabbed [type="radio"]:nth-of-type(8):checked ~ .tabs .tab:nth-of-type(8) label {
	border-bottom-color: #fff;
	/*border-top-color: #645b99;*/
	/*border-top-color: #333;*/
	background: #FD666E;
	color: #F2E1B5;
	transition: background 0.5s, border-bottom-color 0.5s, border-top-color 0.5s, color 0.5s;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tab-content:nth-of-type(5),
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tab-content:nth-of-type(6),
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tab-content:nth-of-type(7) {
	display: block;
}

.section-nighttime-runners .tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.section-nighttime-runners .tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.section-nighttime-runners .tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.section-nighttime-runners .tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.section-nighttime-runners .tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label,
.section-nighttime-runners .tabbed [type="radio"]:nth-of-type(6):checked ~ .tabs .tab:nth-of-type(6) label,
.section-nighttime-runners .tabbed [type="radio"]:nth-of-type(7):checked ~ .tabs .tab:nth-of-type(7) label {
/*	border-bottom-color: #fafafa;
	background: #fafafa;*/
}

.section-submerge .tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.section-submerge .tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.section-submerge .tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.section-submerge .tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.section-submerge .tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label,
.section-submerge .tabbed [type="radio"]:nth-of-type(6):checked ~ .tabs .tab:nth-of-type(6) label,
.section-submerge .tabbed [type="radio"]:nth-of-type(7):checked ~ .tabs .tab:nth-of-type(7) label {
/*	border-bottom-color: #fafafa;
	background: #fafafa;*/
}

/* Code blocks */

.code-blocks {
  display: flex;
  flex-direction: column;
  min-width: 474px;
  height: 500px;
}

.code-container {
	margin-bottom: 10px;
  position: relative;
}

.code-heading {
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
	background-color: #655d7f;
	color: #F2E1B5;
}

.copy-btn {
  position: absolute;
  top: 8px;
  right: 10px;

  background-color: #8f81b3;
  border: none;
  border-radius: 4px;
  color: white;
  width: 90px;
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.hljs {
  background-color: #e9e7f2;
}

pre {
	margin: 0;
}

pre code.hljs {
  padding: 0 20px 20px 20px;
	border-radius: 0px 0px 10px 10px;
}

/* Fade in */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(400px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0; /* Start with sections hidden */
}

.fade-in.start {
    animation-name: fadeInUp;
    animation-duration: 2.0s;
    animation-fill-mode: forwards; /* Keeps the element in the final state of the animation */
}
